/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  display: grid;
  width: 1024px;
  height: 768px;
  /* сохраните в разметке и стилях класс page. На его основе работает скрипт. */
}

.main {
  display: grid;
  background-image: url(/images/cover-image-light.png);
  background-size: cover;
  background-repeat: no-repeat;
  width: 1024px;
  height: 768px;
}

.header__theme-menu-list {
  display: flex;
  justify-content: center;
  gap: 10px;
  padding-top: 20px;
}

.title {
  font-family: IBM Plex Mono;
  font-size: 157px;
  font-weight: 700;
  line-height: 129.53px;
  color: var(--color-pink);
  text-shadow: 4px 4px var(--shadow__color-pink);
}

.main__text-title {
  display: flex;
  justify-content: end;
  padding-right: 20px;
  font-family: IBM Plex Mono;
}

.main__text {
  display: flex;
  width: 491px;
  height: 71px;
  font-size: 18px;
  font-weight: 700;
  line-height: 23.4px;
  background-color: var(--background__text__color-pink);
}

.general_set {
  padding: 0px 20px;
}

.set_cards-1 {
  display: grid;
  margin-top: 60px;
  padding-bottom: 80px;
  grid-template-columns: 1fr 2fr;
}

.title_cards {
  display: flex;
  width: 315px;
  font-family: IBM Plex Mono;
  font-size: 18px;
  font-weight: 700;
  line-height: 23.4px;
}

.title_cards-set-1 {
  width: 649px;
  height: 23px;
  padding-bottom: 10px;
  font-family: IBM Plex Mono;
  font-size: 18px;
  font-weight: 700;
  line-height: 23.4px;
  background-color: var(--background__text__color-pink);
}

.text_cards {
  padding-top: 10px;
  font-family: IBM Plex Mono;
  font-size: 18px;
  font-weight: 400;
  line-height: 23.4px;
}

.set_cards-2 {
  display: grid;
  padding-top: 20px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
}

.card_list-set-2 {
  padding-right: 20px;
}

.title_cards-set-2 {
  width: 315px;
  height: 23px;
  padding-bottom: 10px;
  font-family: IBM Plex Mono;
  font-size: 18px;
  font-weight: 700;
  line-height: 23.4px;
  background-color: var(--background__text__color-pink);
}

.set_cards-3 {
  display: grid;
  padding-top: 20px;
  grid-template-columns: 1fr;
}

.title_cards-set-3 {
  width: 649px;
  height: 23px;
  font-family: IBM Plex Mono;
  font-size: 18px;
  font-weight: 700;
  line-height: 23.4px;
  background-color: var(--background__text__color-pink);
}

.title_text-cards-set-3 {
  width: 649px;
  height: 23px;
  font-family: IBM Plex Mono;
  font-size: 18px;
  font-weight: 400;
  line-height: 23.4px;
  background-color: var(--background__text__color-pink);
}

.set-3 {
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.card-list {
  padding-bottom: 20px;
}
